@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

/* Import Tailwind CSS */
@import "tailwindcss/components";
@import "tailwindcss/base";
@import "tailwindcss/utilities";

/* Custom scrollbar styles */
body,
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ff7c1e #e5e5e5; /* Firefox */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: #e5e5e5;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: #ff7c1e;
  border-radius: 15px;
  border: 3px solid #e5e5e5;
}

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-white text-n-8 text-base;
  }
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

.perspective {
  perspective: 1000px;
}

/* custom.css */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 2s linear infinite;
}
